@page
@model Appsec_222360C.Pages.RegisterModel
@{
}

<div class="container mt-5">

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register for Ace Job Agency</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.firstName">First Name</label>
                    <input type="text" asp-for="RModel.firstName" class="form-control" />
                    <span asp-validation-for="RModel.firstName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.lastName">Last Name</label>
                    <input type="text" asp-for="RModel.lastName" class="form-control" />
                    <span asp-validation-for="RModel.lastName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.gender">Gender</label>
                    <div class="mb-3">
                        <input type="radio" id="male" value="Male" asp-for="RModel.gender" class="form-check-input" />
                        <label class="form-check-label" for="male">Male</label>
                    </div>

                    <div class="mb-3">
                        <input type="radio" id="female" value="Female" asp-for="RModel.gender" class="form-check-input" />
                        <label class="form-check-label" for="female">Female</label>
                    </div>

                    <span asp-validaton-for="RModel.gender" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.nric">NRIC</label>
                    <input type="text" asp-for="RModel.nric" class="form-control" />
                    <span asp-validation-for="RModel.nric" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.dateOfBirth">Date of Birth</label>
                    <input type="date" asp-for="RModel.dateOfBirth" class="form-control" />
                    <span asp-validation-for="RModel.dateOfBirth" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Email">Email Address</label>
                    <input type="text" asp-for="RModel.Email" class="form-control" />
                    <span asp-validation-for="RModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Password">Password</label>
                    <input type="password" asp-for="RModel.Password" class="form-control" oninput=validatePassword() />
                    <span asp-validation-for="RModel.Password" class="text-danger"></span>
                    <div id="password-strength-indicator" class="text-muted"></div>
                    <label class="form-label" asp-for="RModel.Password" id="passwordChecker"></label>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="RModel.ConfirmPassword" class="form-control" oninput=validateConfirmPassword() />
                    <span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
                    <div id="password-strength-indicator" class="text-muted"></div>
                    <label class="form-label" asp-for="RModel.ConfirmPassword" id="passwordCheckercf"></label>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.whoAmI">Who Am I</label>
                    <input type="text" asp-for="RModel.whoAmI" class="form-control" />
                    <span asp-validation-for="RModel.whoAmI" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.resume">Resume</label>
                    <input type="file" asp-for="RModel.resume" class="form-control" />
                    <span asp-validation-for="RModel.resume" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>

    </div>

</div>


@section Scripts {
    <script>
        function validatePassword() {
            var str = document.getElementById("RModel_Password").value;

            if (str.length < 8) {
                document.getElementById("passwordChecker").innerHTML = "Weak";
                document.getElementById("passwordchecker").style.color = "Red"
                return ("too_short")
            }
            else if (str.search(/[A-Z]/) == -1) {
                document.getElementById("passwordChecker").innerHTML = "Need to have at least 1 capitalized letter";
                document.getElementById("passwordChecker").style.color = "Red"
                return ("no_number")
            }
            else if (str.search(/[0-9]/) == -1) {
                document.getElementById("passwordChecker").innerHTML = "Need to have at least 1 number";
                document.getElementById("passwordChecker").style.color = "Red"
                return ("no_number")
            }
            else if (str.search(/[!#$%^&*(),.?""':{}|<>]/) == -1) {
                document.getElementById("passwordChecker").innerHTML = "Need to have at least 1 special character";
                document.getElementById("passwordChecker").style.color = "Red"
                return ("no_special")
            }
            document.getElementById("passwordChecker").innerHTML = "Strong";
            document.getElementById("passwordChecker").style.color = "Blue"
        }
        function validateConfirmPassword() {
            var strcf = document.getElementById("RModel_ConfirmPassword").value;

            if (strcf.length < 8) {
                document.getElementById("passwordCheckercf").innerHTML = "Weak";
                document.getElementById("passwordCheckercf").style.color = "Red"
                return ("too_short")
            }
            else if (strcf.search(/[A-Z]/) == -1) {
                document.getElementById("passwordCheckercf").innerHTML = "Need to have at least 1 capitalized letter";
                document.getElementById("passwordCheckercf").style.color = "Red"
                return ("no_number")
            }
            else if (strcf.search(/[0-9]/) == -1) {
                document.getElementById("passwordCheckercf").innerHTML = "Need to have at least 1 number";
                document.getElementById("passwordCheckercf").style.color = "Red"
                return ("no_number")
            }
            else if (strcf.search(/[!#$%^&*(),.?""':{}|<>]/) == -1) {
                document.getElementById("passwordCheckercf").innerHTML = "Need to have at least 1 special character";
                document.getElementById("passwordCheckercf").style.color = "Red"
                return ("no_special")
            }
            document.getElementById("passwordCheckercf").innerHTML = "Strong";
            document.getElementById("passwordCheckercf").style.color = "Blue"
        }
    </script>
}